  p
  {
    text-transform:lowercase;
    text-align:center;
    font-size:100px;
    color:red;
    background-color:bisque;
  }
  h5
  {
    text-transform:lowercase;
    text-align:left;
    font-size:80px;
    color:cyan;
    background-color:moccasin;
  } 